# PYTHON PROGRAMMING

In [1]:
# 한글 찍기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

## 실습 1. CCTV_in_Seoul.csv 파일을 pandas 로 읽어오세요.

In [3]:
CCTV_Seoul = pd.read_csv('../data/CCTV_in_Seoul.csv')

In [4]:
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 실습 2. 컬럼 중 "기관명" 컬럼명을 "구별" 로 이름을 바꾸세요.

In [7]:
CCTV_Seoul.rename(columns= {'기관명':'구별'} , inplace= True )

In [8]:
CCTV_Seoul.head(3)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

## 실습 3. population_in_Seoul.xls 파일을 읽으세요.

In [9]:
pd.read_excel('../data/population_in_Seoul.xls')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [10]:
! pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2

In [11]:
pd.read_excel('../data/population_in_Seoul.xls')

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 실습 4.population_in_Seoul.xls 파일을 읽으세요.
### header 는 3번째 row 로 사용할 것입니다. 따라서 header = 2  로 셋팅하세요.
### 엑셀파일의 컬럼은  B, D, G, J, N 만 사용할 것입니다.

In [12]:
pop_Seoul = pd.read_excel('../data/population_in_Seoul.xls',
                         header=2,
                         usecols='B, D, G, J, N')

In [13]:
pop_Seoul.head(3)

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

## 실습 5-1. pop_Seoul 의 컬럼명을 모두 출력하세요.

In [14]:
pop_Seoul.columns

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

## 실습 5-2. 컬럼명을 다음처럼 바꿉니다.
### 0번째는 '구별' , 1번째는 '인구수', 2번쨰는 '한국인', 3번째는 '외국인', 4번째는 '고령자'  로 rename

In [15]:
pop_Seoul.columns = [ '구별', '인구수', '한국인', '외국인', '고령자' ]

In [16]:
pop_Seoul.head(3)

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

## 실습 6. CCTV 갯수가 가장 많은 순부터 적은 순으로 정렬한 후, 상위 20개만 화면에 보여주세요.

In [19]:
CCTV_Seoul.sort_values('소계', ascending=False).head(20)

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
18   양천구  2034       1843    142     30    467
14   서초구  1930       1406    157    336    398
21   은평구  1873       1138    224    278    468
20   용산구  1624       1368    218    112    398
6    구로구  1561       1142    173    246    323
4    관악구  1496        846    260    390    613
16   성북구  1464       1009     78    360    204
10  동대문구  1294       1070     23    198    579
8    노원구  1265        542     57    451    516
11   동작구  1091        544    341    103    314
15   성동구  1062        730     91    241    265
7    금천구  1015        674     51    269    354
22   종로구  1002        464    314    211    630
13  서대문구   962        844     50     68    292
19  영등포구   904        495    214    195    373
3    강서구   884        388    258    184     81
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
5    광진구   707        573     78     53    174

## 실습 7. 최근 3년간 CCTV 증가율을 계산하여, dataframe 에 '최근증가율' 컬럼을 추가하세요.
### 증가율 계산  :  (2016 + 2015 + 2014) / 2013이전 * 100

In [20]:
CCTV_Seoul.head(3)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [22]:
CCTV_Seoul['최근증가율'] = (CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] + CCTV_Seoul['2014년'] ) / CCTV_Seoul['2013년도 이전'] * 100

In [23]:
CCTV_Seoul.head(3)

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252

## 실습 8. 최근 3년간 CCTV 증가율이 가장 높은 순으로 5개의 구를 찾으세요.

## 실습 9. 서울시의 인구 데이터 중, 가장 첫번째 행은 필요 없으니, 삭제하세요.

## 실습 9. 서울시의 인구 데이터 중, NaN이 있는지 확인하고, NaN이 있으면 해당 row를 삭제하세요.

## 실습 10. '외국인비율' 과 '고령자비율' 두개의 컬럼을 추가하세요.
### 외국인비율 = 외국인 수 / 인구수 * 100
### 고령자비율 = 고령자 수 / 인구수 * 100

## 실습 11. 외국인 대상으로 장사를 하려 합니다. 외국인이 가장 많은 구와, 외국인비율이 가장 높은 구를 각각 5개씩 찾으세요.

## 실습 12. 고령자 대상 마케팅을 구상 중입니다. 고령자가 가장 많은 구와, 고령자비율이 가장 높은 구를 각각 5개씩 찾으세요.

## 실습 13. CCTV 데이터와 인구 데이터 합치고 분석하기  

data_result 라는 변수로 저장합니다.

## 실습 14. data_result 에서, 다음 4개의 컬럼을 모두 버려 버립니다.
### '2013년도 이전', 2014년', '2015년', '2016년'

## 실습 15-1. dara_result 의 인덱스를, '구별' 로 바꿔 줍니다.

## 실습 15-2. 이 데이터프레임을 csv 파일로 저장합니다.
### 파일명은, CCTV_result.csv 입니다.

## 실습 16. 상관 관계 분석에 대해서 알아봅니다.
### https://ko.wikipedia.org/wiki/%EC%83%81%EA%B4%80_%EB%B6%84%EC%84%9D

상관계수는 -1부터 1까지의 값을 갖는다.

1일 때 완벽한 양의 상관관계가 되고, 

-1일 때 완벽한 음의 상관관계가 된다. 

0이라면 별다른 상관관계가 없음을 의미한다.

## 실습 17. CCTV의 갯수와 고령자 비율의 상관관계를 분석하세요.

## 실습 18. CCTV의 갯수와 외국인 비율의 상관관계를 분석하세요.

## 실습 19. CCTV의 갯수와 인구수의 상관관계를 분석하세요.

## 실습 20. 각 구의 CCTV의 갯수를 bar로 나타내세요.
### pandas dataframe.plot 함수 사용

## 실습 21. 각 구의 CCTV의 갯수를, 먼저 소팅(큰순)한 후,  bar로 나타내세요.

## 실습 22. 인구 한명당 CCTV의 비율을 계산하고, 이를 각 구별로 CCTV비율이 얼마인지 bar로 나타내세요.

## 실습 23. 인구수와 CCTV갯수가 어떤 분포인지, scatter로 나타내세요.